
<div class="row">
  <div *ngFor="let user of users | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" class="sample-column card-wrapper">
      <igx-card class="col-md-16" [horizontal]="horizontal">
          <div igxLayout igxLayoutDir="column" igxFlex igxFlexGrow="1">
              <igx-card-header>
                  <h5 igxCardHeaderTitle>Username: {{user.login}}</h5>
              </igx-card-header>

              <igx-card-content>
                  <p>My profile: {{user.html_url}}</p>
              </igx-card-content>
              <igx-card-actions [vertical]="false">
                  <button (click)="routeWithData(user.id)"  igxButton="flat" igxRipple>
                    These are my repositories: {{user.repos_url}}
                  </button>
              </igx-card-actions>
          </div>

          <igx-card-media width="96px">
              <img src={{user.avatar_url}}>
          </igx-card-media>
      </igx-card>
  </div>

</div>
<div class="row">
    <ngb-pagination [collectionSize]="80" [(page)]="page" [maxSize]="6" [boundaryLinks]="true"></ngb-pagination>

</div>



